<nav>
  <div class="nav-wrapper">
    <!-- a diretiva routerLink -->
    <a routerLink="" class="brand-logo right">Rotas</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <!-- 
        a diretiva queryParams recebe um objeto de chave-valor 
        representando os parâmetros a serem passados 
      -->
      <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina: 1}">Cursos</a></li>
      <!-- <li routerLinkActive="active"><a [routerLink]="['curso', idCurso.value]">Detalhes do Curso</a></li> -->
      <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
    </ul>
  </div>
</nav>

<div class="container">

    <!-- <p>Digite o ID do curso:</p> 
    <input type="text" #idCurso (keyup)="0"/> -->
    <!-- 
      tag para habilitar o roteamento da aplicação
    -->
  <router-outlet></router-outlet>
</div>