<nav>
  <div class="nav-wrapper">
    <!-- a diretiva routerLink -->
    <a routerLink="" class="brand-logo right">Rotas</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/cursos">Cursos</a></li>
      <li routerLinkActive="active"><a routerLink="/curso">Detalhes do Curso</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <!-- 
      tag para habilitar o roteamento da aplicação
    -->
  <router-outlet></router-outlet>
</div>