<nav>
  <div class="nav-wrapper">
    <!-- a diretiva routerLink -->
    <a routerLink="" class="brand-logo right">Rotas</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/cursos">Cursos</a></li>
      <li routerLinkActive="active"><a [routerLink]="['curso', idCurso.value]">Detalhes do Curso</a></li>
    </ul>
  </div>
</nav>

<div class="container">

    <p>Digite o ID do curso:</p> 
    <input type="text" #idCurso (keyup)="0g"/>
    
    <!-- 
      tag para habilitar o roteamento da aplicação
    -->
  <router-outlet></router-outlet>
</div>