<h3>Exemplos de Pipes</h3>

<!-- pipe para deixar todo conteúdo em letras maiúsculas (uppercase) -->
<p>Título: {{ livro.titulo | uppercase }}</p>

<!-- 
  pipe para editar números e casas decimais 
  passamos primeiro o número de casas desejadas à esquerda
  após o ponto utilizamos o número mínimo e máximo de casas à direita
-->
<p>Avaliação: {{ livro.rating | number:'1.2-2' }}</p>

<p>Número de páginas: {{ livro.numeroPaginas }}</p>

<!--
  pipe para formatar moedas
  o primeiro parâmetro passado é para indicar o país (default é USD)
  o segunto (true) é para indicar que seja utilizado o símbolo da moeda (R$)
-->
<p>Preço: {{ livro.preco | currency:'BRL':true }}</p>

<!--
  pipe para editar datas 
  Passamos o formato desejado como parâmetro
-->
<p>Data de lançamento: {{ livro.dataLancamento | date:'dd/MM/yyyy' }}</p>

<p>URL: {{ livro.url }}</p>

<!-- pipe que formata um objeto em formato JSON -->
<p>Livro: {{ livro | json }}</p>

<p> {{ 'Utilizando um PIPE customizado' | camelCase }} </p>

<hr>

<!-- filtros puros do angular -->
Filtro: <input type="text" [(ngModel)]='filtro'>

<!-- 
  ao adicionar um novo curso, o filtro não irá considerar o novo
  valor adicionando ao array, pq filtros puros não monitoram as
  atualizações dos objetos ao qual são aplicados
-->
Novo Curso: <input type="text" #novoCurso /> <button (click)="addNovoCurso(novoCurso.value)">Adicionar</button>

<h4>Pipe Puro</h4>

<ul>
  <li *ngFor='let curso of listaCursos | filtroArray:filtro'>
    {{ curso }}
  </li>
</ul>

<h4>Pipe Impuro</h4>

<ul>
  <li *ngFor='let curso of listaCursos | filtroArrayImpuro:filtro'>
    {{ curso }}
  </li>
</ul>

<h4>Maneira correta de filtrar arrays em projetos</h4>

<ul>
  <li *ngFor='let curso of obterCursos()'>
    {{ curso }}
  </li>
</ul>

<!-- utilização do pipe async -->
<p>{{ valorAsync | async }}</p> <!-- valorAsync estará disponível após 2s -->
<p>{{ valorAsync2 | async }}</p> <!-- valorAsync2 estará disponível após 3s -->