<!--
  criação de variável local #f
  que representa o formulário
  associada à diretiva ngForm
  do próprio Angular.


 -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome" required
      name="nome" [(ngModel)]="usuario.nome"> <!-- com ngModel precisamos usar o atributo
                                'name' para o angular inferir o valor
                                do campo na submissão do formulário
                            -->
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="seu-email@email.com" required
      name="email" [(ngModel)]="usuario.email">
  </div>

  <button type="submit" class="btn btn-primary">Enviar</button>
</form>