<!--
  criação de variável local #f
  que representa o formulário
  associada à diretiva ngForm
  do próprio Angular.
 -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
  <div class="form-group"
    [ngClass]="addErrorClasses(nomeVar)">

    <div class="col-sm-12">
      <label class="control-label" for="nome">Nome</label>
    </div>
    
    <div class="col-sm-12">
      <!-- 
        com ngModel precisamos usar o atributo
        'name' para o angular inferir o valor
        do campo na submissão do formulário
      -->
      <input type="text" class="form-control" id="nome" placeholder="Nome" required
      name="nome" [(ngModel)]="usuario.nome" 
      aria-describedby="nomeStatus"
      #nomeVar="ngModel"> <!-- 
                            para que as variáveis locais estejam visíveis em todo
                            o escopo do template, devemos atribuí-las ao ngModel

                            Ex.: #nomeVariavel="ngModel"
                          -->
      <app-campo-control-error
        [showError]="checkInvalidAndTouchedField(nomeVar)" 
        errorMsg="O campo 'Nome' é obrigatório"></app-campo-control-error>
        <!-- 
          Quando o valor passado para a propriedade é uma string hard coded, 
          podemos dispensar o uso dos colchetes para fazer o property binding.

          Ver exemplo acima na propriedade 'errorMsg'.
        -->
    </div>
  </div>

  <div class="form-group"
    [ngClass]="addErrorClasses(emailVar)">

    <div class="col-sm-12">
      <label class="control-label" for="email">Email</label>
    </div>
    
    <div class="col-sm-12">
      <input type="email" class="form-control" id="email" placeholder="seu-email@email.com" required
      name="email" [(ngModel)]="usuario.email" #emailVar="ngModel"
      aria-describedby="emailStatus" 
      email> <!-- 
              por último, o uso da diretiva 'email' para
              validar campos de email a partir do Angular 4
            -->

      <app-campo-control-error
        [showError]="checkInvalidAndTouchedField(emailVar)" 
        errorMsg="O campo 'Email' é obrigatório"></app-campo-control-error>
    </div>
  </div>

  <!-- 
    a div abaixo vai agrupar dados para serem tratados como um
    objeto aninhado nos valores do formulário. Para isso, vamos
    utilizar a diretiva ngModelGroup.
   -->
  <div ngModelGroup="endereco">
    <div class="form-group">
      <div class="col-md-3"
        [ngClass]="addErrorClasses(cepVar)">
          <label for="cep" class="control-label">CEP</label>
          <input type="text" class="form-control" id="cep"
            name="cep" ngModel #cepVar="ngModel" required>

          <app-campo-control-error
            [showError]="checkInvalidAndTouchedField(cepVar)" 
            errorMsg="O campo 'CEP' é obrigatório"></app-campo-control-error>
      </div>

      <div class="col-md-3"
        [ngClass]="addErrorClasses(numeroVar)">
          <label for="numero" class="control-label">Número</label>
          <input type="text" class="form-control" id="numero"
            name="numero" ngModel #numeroVar="ngModel" required>

          <app-campo-control-error
            [showError]="checkInvalidAndTouchedField(numeroVar)" 
            errorMsg="O campo 'Número' é obrigatório"></app-campo-control-error>
      </div>

      <div class="col-md-6">
        <label for="complemento" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="complemento"
            name="complemento" ngModel #complementoVar="ngModel">
      </div>
    </div>

    <div class="form-group"
      [ngClass]="addErrorClasses(ruaVar)">

      <div class="col-sm-12">
        <label class="control-label" for="rua">Rua</label>
      </div>
      
      <div class="col-sm-12">
        <!-- 
          com o atributo readonly o usuário não pode editar o campo
        -->
        <input type="text" class="form-control" id="rua" required readonly
        name="rua" [(ngModel)]="usuario.rua" 
        aria-describedby="ruaStatus"
        #ruaVar="ngModel"> 

        <app-campo-control-error
          [showError]="checkInvalidAndTouchedField(ruaVar)" 
          errorMsg="O campo 'Rua' é obrigatório"></app-campo-control-error>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5"
        [ngClass]="addErrorClasses(bairroVar)">
        <label for="bairro" class="control-label">Bairro</label>
        <input type="text" class="form-control" id="bairro"
            name="bairro" ngModel #bairroVar="ngModel" required readonly>
    
        <app-campo-control-error
          [showError]="checkInvalidAndTouchedField(bairroVar)" 
          errorMsg="O campo 'Bairro' é obrigatório"></app-campo-control-error>
      </div>

      <div class="col-md-4"
        [ngClass]="addErrorClasses(cidadeVar)">
        <label for="cidade" class="control-label">Cidade</label>
        <input type="text" class="form-control" id="cidade"
            name="cidade" ngModel #cidadeVar="ngModel" required readonly>

        <app-campo-control-error
          [showError]="checkInvalidAndTouchedField(cidadeVar)" 
          errorMsg="O campo 'Cidade' é obrigatório"></app-campo-control-error>
      </div>

      <div class="col-md-3"
        [ngClass]="addErrorClasses(estadoVar)">
        <label for="estado" class="control-label">Estado</label>
        <input type="text" class="form-control" id="estado"
            name="estado" ngModel #estadoVar="ngModel" required>

        <app-campo-control-error
          [showError]="checkInvalidAndTouchedField(estadoVar)" 
          errorMsg="O campo 'Estado' é obrigatório"></app-campo-control-error>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary"
    [disabled]="!f.valid">Enviar</button>

    <app-form-debug [form]="f"></app-form-debug>
</form>