<h5>
  {{ aluno?.id ? 'Editar Aluno' : 'Novo Aluno' }}
</h5>

<div class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <input disabled id="id" type="text" class="validate" [(ngModel)]="aluno.id" (input)="onInput()">
      <!-- 
        para correção de bug de auto-preenchimento de inputs do
        materialize utilizar a classe 'active' nos labels de cada
      -->
      <label for="id"
      [ngClass]="{
        'active': aluno.id || aluno.id !== ''
      }">
        #
      </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="nome" type="text" class="validate" [(ngModel)]="aluno.nome" (input)="onInput()">
      <label for="nome"
      [ngClass]="{
        'active': aluno.nome || aluno.nome !== ''
      }">
        Nome
      </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="email" type="email" class="validate" [(ngModel)]="aluno.email" (input)="onInput()">
      <label for="email"
      [ngClass]="{
        'active': aluno.email || aluno.email !== ''
      }">
        Email
      </label>
    </div>
  </div>

  <button class="waves-effect waves-light btn" (click)="saveAluno()">Salvar</button>
</div>