<section>
  <article>
    <h3>Interpolation / Interpolação</h3>

    <p>String renderizada com interpolação: {{ url }} </p>
    <p>Resultado de 1 + 1 = {{ 1 + 1 }}</p>
    <p>Agora, usando um método: {{ 1 + 1 + getValor() }}</p>
    <p>Analisando expressções booleanas: {{ cursoAngular && getCurtirCurso() }}
  </article>

  <article>
    <img src="{{ urlImagem }}" /> <!-- utilizando interpolação -->
    <img [src]="urlImagem" /> <!-- utilizando o property bind -->
    <img bind-src="urlImagem" /> <!-- utilizando o property bind +1 -->
  </article>

</section>

<hr>
<section>
  <h3>Reusando componentes + Teste de InputProperties</h3>

  <!-- declarando o componente 'input-properties' que teve seletor modificado para 'app-curso' -->
  <!-- 
    Passando o valor de nomeDoCurso para o componente app-curso por meio da propriedade 'nome'.
    A propriedade 'nome' está declarada no componente app-curso
  -->
  <app-curso [nome]="nomeDoCurso"></app-curso>
</section>