<section>
  <article>
    <h3>Interpolation / Interpolação</h3>

    <p>String renderizada com interpolação: {{ url }} </p>
    <p>Resultado de 1 + 1 = {{ 1 + 1 }}</p>
    <p>Agora, usando um método: {{ 1 + 1 + getValor() }}</p>
    <p>Analisando expressções booleanas: {{ cursoAngular && getCurtirCurso() }}
  </article>

  <article>
    <img src="{{ urlImagem }}" /> <!-- utilizando interpolação -->
    <img [src]="urlImagem" /> <!-- utilizando o property bind -->
    <img bind-src="urlImagem" /> <!-- utilizando o property bind +1 -->
  </article>

</section>

<hr>
<section>
  <h3>Reusando componentes + Teste de InputProperties + Teste de OutputProperties</h3>

  <!--================= INPUT PROPERTIES =================-->
  <!-- declarando o componente 'input-properties' que teve seletor modificado para 'app-curso' -->
  <!-- 
    Passando o valor de nomeDoCurso para o componente app-curso por meio da propriedade 'nome'.
    A propriedade 'nome' está declarada no componente app-curso
  -->
  <app-curso [nome]="nomeDoCurso"></app-curso>


  <!--================= OUTPUT PROPERTIES =================-->
  <contador [valor]="10"
    (mudouValor)="onMudouValor($event)"> <!-- event binding do evendo mudouValor. 
                                        Quando emitido, executará a função onMudouValor 
                                        do componente pai, no caso o data-binding-component  -->
  </contador>
</section>